/* Legg til styling for forsiden (index) her */
body {
    background-color: #2C3E50; /* Mørkegrått */
    color: #8B008B; /* Lilla */
}

header {
    background-color: rgba(0, 0, 0, 0.8); /* Svart med gjennomsiktighet */
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    color: #8B008B; /* Lilla */
}

.social-links a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
    margin-right: 10px;
}

.social-links a img:hover {
    transform: scale(1.2);
}

.explore-button {
    background-color: #8B008B; /* Lilla */
    color: #000; /* Svart */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.explore-button:hover {
    background-color: #4B0082; /* Mørkere lilla */
}
