/* Legg til styling for forsiden (index) her */
body {
    background-color: #2C3E50; /* Mørkegrått */
    color: #FFFFFF; /* Hvit tekst */
    padding: 20px;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1F292E; /* Mørkere grått */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    color: #8B008B; /* Lilla */
    margin-bottom: 20px;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.social-links a {
    color: #8B008B; /* Lilla */
    text-decoration: none;
}

.social-links a:hover {
    color: #4B0082; /* Mørkere lilla */
}

.explore-button {
    background-color: #8B008B; /* Lilla */
    color: #000; /* Svart */
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.explore-button:hover {
    background-color: #4B0082; /* Mørkere lilla */
}
