body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    text-align: center;
}

.scroll-button {
    margin-top: 20px;
    text-align: center;
}

.scroll-button button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.scroll-button button:hover {
    background-color: #444;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s;
}

.fade-in.show {
    opacity: 1;
}

#content {
    padding: 20px 0;
}

#shop-section,
#contact-section {
    display: none;
}

#shop-section.show,
#contact-section.show {
    display: block;
}
