body {
  background-color: #000; /* Mørk bakgrunn */
  color: #fff; /* Kontrastfarge for tekst */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.main-container {
  text-align: center;
}

.entry-animation {
  animation: fadeIn 1.5s forwards; /* Inngangsanimasjon */
}

.explore-button, .learn-more-button {
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  color: #fff;
}

.explore-button {
  background-color: transparent;
  border: 2px solid #ff007f; /* Rosa glow-effekt */
  box-shadow: 0 0 10px rgba(255, 0, 127, 0.7); /* Rosa glow-effekt */
}

.explore-button:hover {
  background-color: #ff007f; /* Rosa glow-effekt ved hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
