/* Legg til styling for "Utforsk" siden */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Style for the social links */
.social-links {
    margin-top: 20px;
}

.social-links a {
    margin-right: 10px;
}

.social-links a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-links a img:hover {
    transform: scale(1.2);
}
