/* Legg til styling for "Utforsk" siden her */
body {
    font-family: Arial, sans-serif;
    background-color: #212121; /* Mørk bakgrunnsfarge */
    color: white; /* Tekstfarge */
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

article {
    background-color: rgba(139, 0, 0, 0.5); /* Mørke rødt med gjennomsiktighet */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px; /* Runde hjørner */
}

article:hover {
    transform: scale(1.05); /* Zoom inn på hover */
    transition: transform 0.3s ease-in-out;
}

.back-button {
    background-color: #8b0000; /* Mørke rødt */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #a50000; /* Lysere mørke rødt på hover */
}
